body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #cce9ff, #eaf3ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #005fa3;
    font-size: 24px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #cdd9e7;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 15px;
}

button {
    width: 95%;
    padding: 10px;
    background: #0078ff;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.2s ease;
}

button:hover {
    background: #005fcc;
}

#icon {
    font-size: 45px;
    margin-bottom: 8px;
}

.result {
    text-align: left;
    margin-top: 10px;
    line-height: 1.7;
    font-size: 16px;
    color: #003a63;
}
